// thin home section GRID

	#homethinsection {
		background: linear-gradient(to top, _palette(accent1), _palette(blue1));
		@include vendor('align-items', 'center');
		@include vendor('background-image', 'url("../images/bg-circuit.jpg")');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0 !important;
		cursor: default;
		// height: 20vh;
		// margin-bottom: -3.25em;
		// max-height: 32em;
		// min-height: 22em;
		position: relative;
		// top: -3.25em;
		box-shadow: 0 5px 15px rgba(0,0,0,0.2);

		&:after {
			background-color: _palette(bg);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			opacity: 0.85;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		> .inner {
			padding: 4em 0 !important; 
			position: relative;
			z-index: 2;
		}

		@include breakpoint(xsmall) {
			background-attachment: unset;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

	}